---
import { Image } from "astro:assets";
import GreenWeb from "../assets/greenweb.png";
import BanglaFonts from "../components/BanglaFonts.astro";
import BanglaSoftware from "../components/BanglaSoftware.astro";
import CarbonBadge from "../components/CarbonBadge.astro";
import Facts from "../components/Facts.astro";
import Others from "../components/Others.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto p-4">
    <h1 class="mb-4 text-3xl font-bold">ржЖржорж╛рж░ ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛</h1>
    <p>
      ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ (ржмрж╛ржЩрж▓рж╛, ржмрж╛ржЩрзНржЧрж▓рж╛, рждржерж╛ ржмрж╛ржЩрзНржЧрж╛рж▓рж╛ ржирж╛ржорзЗржУ ржкрж░рж┐ржЪрж┐ржд) ржПржХржЯрж┐ ржзрзНрж░рзБржкржжрзА
      ржЗржирзНржжрзЛ-ржЖрж░рзНржп ржнрж╛рж╖рж╛, ржпрж╛ ржжржХрзНрж╖рж┐ржг ржПрж╢рж┐ржпрж╝рж╛рж░ ржмрж╛ржЩрж╛рж▓рж┐ ржЬрж╛рждрж┐рж░ ржкрзНрж░ржзрж╛ржи ржХржерзНржп ржУ рж▓рзЗржЦрзНржп ржнрж╛рж╖рж╛ред
      ржорж╛рждрзГржнрж╛рж╖рзАрж░ рж╕ржВржЦрзНржпрж╛ржпрж╝ ржмрж╛ржВрж▓рж╛ ржЗржирзНржжрзЛ-ржЗржЙрж░рзЛржкрзАржпрж╝ ржнрж╛рж╖рж╛ ржкрж░рж┐ржмрж╛рж░рзЗрж░ ржкржЮрзНржЪржо ржУ ржорзЛржЯ
      ржмрзНржпржмрж╣рж╛рж░ржХрж╛рж░рзАрж░ рж╕ржВржЦрзНржпрж╛ ржЕржирзБрж╕рж╛рж░рзЗ ржмрж╛ржВрж▓рж╛ ржмрж┐рж╢рзНржмрзЗрж░ рзнржо ржмрзГрж╣рждрзНрждржо ржнрж╛рж╖рж╛ред
    </p>
    <Facts />
    <BanglaSoftware />
    <BanglaFonts />
    <Others />
    <footer class="footer footer-center text-base-content mt-4">
      <div>
        Crafted with ЁЯТЦ by <a
          href="https://fluentmoheshwar.pages.dev"
          target="_blank"
          class="link-primary">Moheshwar Amarnath Biswas</a
        >
      </div>
      <div class="sm:grid-flow-col sm:place-self-center sm:justify-self-end">
        <a
          href=`https://www.thegreenwebfoundation.org/green-web-check/?url=${Astro.url.toString()}`
          target="_blank"
        >
          <Image
            src={GreenWeb}
            alt="This website runs on green hosting - verified by thegreenwebfoundation.org"
          />
        </a>
        <CarbonBadge />
      </div>
    </footer>
  </div>
</Layout>
