---
import { Image } from "astro:assets";
import GreenWeb from "../assets/greenweb.png";
import BanglaFonts from "../components/BanglaFonts.astro";
import BanglaSoftware from "../components/BanglaSoftware.astro";
import CarbonBadge from "../components/CarbonBadge.astro";
import Facts from "../components/Facts.astro";
import Others from "../components/Others.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto p-4">
    <h1 class="mb-4 text-3xl font-bold">আমার বাংলা ভাষা</h1>
    <p>
      বাংলা ভাষা (বাঙলা, বাঙ্গলা, তথা বাঙ্গালা নামেও পরিচিত) একটি ধ্রুপদী
      ইন্দো-আর্য ভাষা, যা দক্ষিণ এশিয়ার বাঙালি জাতির প্রধান কথ্য ও লেখ্য ভাষা।
      মাতৃভাষীর সংখ্যায় বাংলা ইন্দো-ইউরোপীয় ভাষা পরিবারের পঞ্চম ও মোট
      ব্যবহারকারীর সংখ্যা অনুসারে বাংলা বিশ্বের ৭ম বৃহত্তম ভাষা।
    </p>
    <div class="bg-red-950 p-5 hidden" id="motherLanguageDay">
      <p class="text-center text-5xl font-bold text-white">
        আন্তজার্তিক মাতৃভাষা দিবসের শুভেচ্ছা
      </p>
    </div>
    <Facts />
    <BanglaSoftware />
    <BanglaFonts />
    <Others />
    <footer class="footer footer-center text-base-content mt-4">
      <div>
        Crafted with 💖 by <a
          href="https://fluentmoheshwar.pages.dev"
          target="_blank"
          class="link-primary">Moheshwar Amarnath Biswas</a
        >
      </div>
      <div class="sm:grid-flow-col sm:place-self-center sm:justify-self-end">
        <a
          href="https://www.thegreenwebfoundation.org/green-web-check/?url=https://amarbanglabhasa.pages.dev/"
          target="_blank"
        >
          <Image
            src={GreenWeb}
            alt="This website runs on green hosting - verified by thegreenwebfoundation.org"
          />
        </a>
        <CarbonBadge />
      </div>
    </footer>
  </div>

  <script is:inline>
    const today = new Date();
    const motherLanguageDay = new Date(today.getFullYear(), 1, 21);
    if (today.getMonth() === motherLanguageDay.getMonth() && today.getDate() === motherLanguageDay.getDate()) {
      document.getElementById("motherLanguageDay").classList.remove("hidden");
    }
  </script>
</Layout>
