<h2 class="my-6 mb-4 text-center text-3xl font-bold underline">
  বাংলা ফন্ট
</h2>

<ul class="list-disc">
  <li><a href="https://fonts.google.com/?lang=bn_Beng" target="_blank" class="link-primary">Google Fonts</a></li>
  <li><a href="https://www.omicronlab.com/bangla-fonts.html" target="_blank" class="link-primary">OmicronLab</a></li>
  <li><a href="https://fontbd.com/free-fonts/" target="_blank" class="link-primary">FontBD</a></li>
  <li><a href="https://bangla.gov.bd/fonts/" target="_blank" class="link-primary">bangla.gov.bd</a></li>
  <li><a href="https://ekushey.org/fonts/" target="_blank" class="link-primary">একুশে</a></li>
  <li><a href="https://lipighor.com/" target="_blank" class="link-primary">লিপিঘর</a></li>
  <li><a href="https://codepotro.com/fonts/" target="_blank" class="link-primary">কোডপত্র</a></li>
  <li><a href="https://www.nongnu.org/freebangfont/downloads.html" target="_blank" class="link-primary">মুক্ত বাংলা ফন্ট</a></li>
</ul>
