---
import { FaHistory } from "react-icons/fa";
import { FaGenderless, FaGlobe, FaLanguage } from "react-icons/fa6";
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">ЁЯЗзЁЯЗй</div>
      <h2 class="card-title">ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ рж░рж╛рж╖рзНржЯрзНрж░ржнрж╛рж╖рж╛</h2>
      <p>
        ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ рж╕ржВржмрж┐ржзрж╛ржирзЗрж░ рзйржиржВ ржЕржирзБржЪрзНржЫрзЗржж ржЕржирзБржпрж╛ржпрж╝рзА, ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ ржПржХржорж╛рждрзНрж░
        рж░рж╛рж╖рзНржЯрзНрж░ржнрж╛рж╖рж╛ рждржерж╛ рж╕рж░ржХрж╛рж░рж┐ ржнрж╛рж╖рж╛ ржмрж╛ржВрж▓рж╛ред рззрзпрзорзн рж╕рж╛рж▓рзЗрж░ ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ ржкрзНрж░ржЪрж▓ржи ржЖржЗржи
        ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ рж╕ржХрж▓ рж░рж╛рж╖рзНржЯрзНрж░рзАржпрж╝ ржХрж╛ржЬрзЗ ржмрж╛ржВрж▓рж╛рж░ ржмрзНржпржмрж╣рж╛рж░ ржмрж╛ржзрзНржпрждрж╛ржорзВрж▓ржХ ржХрж░рзЗржЫрзЗред ржмрж╛ржВрж▓рж╛
        ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ ржЬрж╛рждрзАржпрж╝ ржнрж╛рж╖рж╛ред
      </p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaHistory />
      </div>
      <h2 class="card-title">ржПржХржЯрж┐ рж╕ржорзГржжрзНржз ржЗрждрж┐рж╣рж╛рж╕</h2>
      <ul class="list-disc *:m-5">
        <li>
          ржкрзНрж░рж╛ржЪрзАржи ржмрж╛ржВрж▓рж╛ (рзпрзжрзж/рззрзжрзжрзж-рззрзкрзжрзж ржЦрзНрж░рж┐рж╖рзНржЯрж╛ржмрзНржж) тАФ ржЪрж░рзНржпрж╛ржкржж, ржнржХрзНрждрж┐ржорзВрж▓ржХ ржЧрж╛ржи ржПржЗ
          рж╕ржоржпрж╝ржХрж╛рж░ рж▓рж┐ржЦрж┐ржд ржирж┐ржжрж░рзНрж╢ржиред ржПржЗ рж╕ржоржпрж╝ ржЖржорж┐, рждрзБржорж┐ ржЗрждрзНржпрж╛ржжрж┐ рж╕рж░рзНржмржирж╛ржо ржПржмржВ тАФ ржЗрж▓рж╛, тАФ
          ржЗржмрж╛, ржЗрждрзНржпрж╛ржжрж┐ ржХрзНрж░рж┐ржпрж╝рж╛ржмрж┐ржнржХрзНрждрж┐рж░ ржЖржмрж┐рж░рзНржнрж╛ржм ржШржЯрзЗред
        </li>
        <li>
          ржоржзрзНржп ржмрж╛ржВрж▓рж╛ (рззрзкрзжрзж-рззрзорзжрзж ржЦрзНрж░рж┐рж╖рзНржЯрж╛ржмрзНржж) тАФ ржП рж╕ржоржпрж╝ржХрж╛рж░ ржЧрзБрж░рзБрждрзНржмржкрзВрж░рзНржг рж▓рж┐ржЦрж┐ржд
          ржирж┐ржжрж░рзНрж╢ржи ржЪржгрзНржбрзАржжрж╛рж╕рзЗрж░ рж╢рзНрж░рзАржХрзГрж╖рзНржгржХрзАрж░рзНрждржи ржЗрждрзНржпрж╛ржжрж┐ред рж╢ржмрзНржжрзЗрж░ рж╢рзЗрж╖рзЗ "ржЕ" ржзрзНржмржирж┐рж░
          ржмрж┐рж▓рзЛржк, ржпрзМржЧрж┐ржХ ржХрзНрж░рж┐ржпрж╝рж╛рж░ ржкрзНрж░ржЪрж▓ржи, ржлрж╛рж░рж╕рж┐ ржнрж╛рж╖рж╛рж░ ржкрзНрж░ржнрж╛ржм ржПржЗ рж╕ржоржпрж╝рзЗрж░ рж╕рж╛рж╣рж┐рждрзНржпрзЗ
          рж▓ржХрзНрж╖рзНржп ржХрж░рж╛ ржпрж╛ржпрж╝ред ржХрзЛржирзЛ ржХрзЛржирзЛ ржнрж╛рж╖рж╛ржмрж┐ржж ржПржЗ ржпрзБржЧржХрзЗ ржЖржжрж┐ ржУ ржЕржирзНрждрзНржп ржПржЗ ржжрзБржЗ ржнрж╛ржЧрзЗ
          ржнрж╛ржЧ ржХрж░рзЗржиред
        </li>
        <li>
          ржЖржзрзБржирж┐ржХ ржмрж╛ржВрж▓рж╛ (рззрзорзжрзж ржЦрзНрж░рж┐рж╖рзНржЯрж╛ржмрзНржж ржерзЗржХрзЗ-ржмрж░рзНрждржорж╛ржи) тАФ ржПржЗ рж╕ржоржпрж╝ ржХрзНрж░рж┐ржпрж╝рж╛ ржУ
          рж╕рж░рзНржмржирж╛ржорзЗрж░ рж╕ржВржХрзНрж╖рзЗржкржг ржШржЯрзЗ, ржпрзЗржоржи рждрж╛рж╣рж╛рж░ тЖТ рждрж╛рж░; ржХрж░рж┐ржпрж╝рж╛ржЫрж┐рж▓ тЖТ ржХрж░рзЗржЫрж┐рж▓ред
        </li>
      </ul>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaGlobe />
      </div>
      <h2 class="card-title">ржЖржирзНрждрж░рзНржЬрж╛рждрж┐ржХ рж╕рзНржмрзАржХрзГрждрж┐</h2>
      <p>
        рззрзпрзкрзн ржерзЗржХрзЗ рззрзпрзлрзи ржЦрзНрж░рж┐рж╖рзНржЯрж╛ржмрзНржжрзЗ ржкрзВрж░рзНржм ржмрж╛ржВрж▓рж╛ржпрж╝ рж╕ржВржЧржарж┐ржд ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ ржЖржирзНржжрзЛрж▓ржи ржПржЗ
        ржнрж╛рж╖рж╛рж░ рж╕рж╛ржерзЗ ржмрж╛ржЩрж╛рж▓рж┐ ржЕрж╕рзНрждрж┐рждрзНржмрзЗрж░ ржпрзЛржЧрж╕рзВрждрзНрж░ рж╕рзНржерж╛ржкржи ржХрж░рзЗржЫрзЗред рззрзпрзлрзи ржЦрзНрж░рж┐рж╖рзНржЯрж╛ржмрзНржжрзЗрж░
        рзирззрж╢рзЗ ржлрзЗржмрзНрж░рзБржпрж╝рж╛рж░рж┐ ржврж╛ржХрж╛ ржмрж┐рж╢рзНржмржмрж┐ржжрзНржпрж╛рж▓ржпрж╝рзЗ ржкрзНрж░рждрж┐ржмрж╛ржжрзА ржЫрж╛рждрзНрж░ ржУ ржЖржирзНржжрзЛрж▓ржиржХрж╛рж░рзАрж░рж╛
        рж╕ржВржЦрзНржпрж╛ржЧрж░рж┐рж╖рзНржарзЗрж░ ржорж╛рждрзГржнрж╛рж╖рж╛ ржмрж╛ржВрж▓рж╛ржХрзЗ рж░рж╛рж╖рзНржЯрзНрж░ржнрж╛рж╖рж╛ржХрж░ржгрзЗрж░ ржжрж╛ржмрж┐рждрзЗ ржирж┐ржЬрзЗржжрзЗрж░ ржЬрзАржмржи
        ржЙрзОрж╕рж░рзНржЧ ржХрж░рзЗржиред рззрзпрзорзн рж╕рж╛рж▓рзЗрж░ ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ ржкрзНрж░ржЪрж▓ржи ржЖржЗржирзЗ ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ рж╕ржХрж▓ рж░рж╛рж╖рзНржЯрзНрж░рзАржпрж╝
        ржХрж╛ржЬрзЗ ржмрж╛ржВрж▓рж╛рж░ ржмрзНржпржмрж╣рж╛рж░ ржмрж╛ржзрзНржпрждрж╛ржорзВрж▓ржХ ржХрж░рж╛ рж╣ржпрж╝рзЗржЫрзЗред рззрзпрзлрзи рж╕рж╛рж▓рзЗрж░ ржнрж╛рж╖рж╛ рж╢рж╣рж┐ржжржжрзЗрж░
        рж╕ржВржЧрзНрж░рж╛ржорзЗрж░ рж╕рзНржмрзАржХрзГрждрж┐ рж╕рзНржмрж░рзВржк рззрзпрзпрзп рж╕рж╛рж▓рзЗ ржЬрж╛рждрж┐рж╕ржВржШ рж╢рж┐ржХрзНрж╖рж╛, ржмрж┐ржЬрзНржЮрж╛ржи ржУ рж╕ржВрж╕рзНржХрзГрждрж┐
        рж╕ржВрж╕рзНржерж╛ (UNESCO) рзирззрж╢рзЗ ржлрзЗржмрзНрж░рзБржпрж╝рж╛рж░рж┐ ржжрж┐ржиржЯрж┐ржХрзЗ ржЖржирзНрждрж░рзНржЬрж╛рждрж┐ржХ ржорж╛рждрзГржнрж╛рж╖рж╛ ржжрж┐ржмрж╕
        рж╣рж┐рж╕рзЗржмрзЗ ржШрзЛрж╖ржгрж╛ ржХрж░рзЗред ржнрж╛рж░рждрзЗ ржнрж╛рж░рждрзЗрж░ рж╕ржВржмрж┐ржзрж╛ржи ржжрзНржмрж╛рж░рж╛ рж╕рзНржмрзАржХрзГржд рзирзйржЯрж┐ рж╕рж░ржХрж╛рж░рж┐ ржнрж╛рж╖рж╛рж░
        ржоржзрзНржпрзЗ ржмрж╛ржВрж▓рж╛ ржПржХржЯрж┐ред ржнрж╛рж░рждрзЗрж░ ржкрж╢рзНржЪрж┐ржоржмржЩрзНржЧ, ржЖрж╕рж╛ржо ржПржмржВ рждрзНрж░рж┐ржкрзБрж░рж╛ рж░рж╛ржЬрзНржпрзЗрж░ рж╕рж░ржХрж╛рж░рж┐
        ржнрж╛рж╖рж╛ рж╣рж▓ ржмрж╛ржВрж▓рж╛ред ржнрж╛рж░ржд рж╕рж░ржХрж╛рж░ ржХрж░рзНрждрзГржХ рзирзжрзирзк рж╕рж╛рж▓рзЗрж░ рзй ржЕржХрзНржЯрзЛржмрж░рзЗ ржнрж╛рж╖рж╛ржЯрж┐ржХрзЗ ржзрзНрж░рзБржкржжрзА
        ржнрж╛рж╖рж╛рж░ ржорж░рзНржпрж╛ржжрж╛ ржжрзЗржУржпрж╝рж╛ рж╣ржпрж╝ред
      </p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaLanguage />
      </div>
      <h2 class="card-title">ржмрж░рзНржгржорж╛рж▓рж╛рж░ ржЙрзОрж╕</h2>
      <p>
        ржмрж╛ржВрж▓рж╛ ржмрж░рзНржгржорж╛рж▓рж╛ рззрззржЯрж┐ рж╕рзНржмрж░ржмрж░рзНржг ржУ рзйрзпржЯрж┐ ржмрзНржпржЮрзНржЬржиржмрж░рзНржг ржирж┐ржпрж╝рзЗ ржЧржарж┐ржд, ржпрж╛ ржкрзНрж░рж╛ржЪрзАржи
        ржмрзНрж░рж╛рж╣рзНржорзА рж▓рж┐ржкрж┐ ржерзЗржХрзЗ ржЙржжрзНржнрзВрждред
      </p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaGlobe />
      </div>
      <h2 class="card-title">ржнрж╛рж╖рж╛ ржЖржирзНржжрзЛрж▓ржирзЗрж░ ржЧрзМрж░ржм</h2>
      <p>
        рззрзпрзлрзи рж╕рж╛рж▓рзЗрж░ ржнрж╛рж╖рж╛ ржЖржирзНржжрзЛрж▓ржи ржмрж╛ржВрж▓рж╛ ржЗрждрж┐рж╣рж╛рж╕рзЗ ржПржХ ржЕржиржирзНржп ржЕржзрзНржпрж╛ржпрж╝, ржпрж╛ ржЖржирзНрждрж░рзНржЬрж╛рждрж┐ржХ
        ржорж╛рждрзГржнрж╛рж╖рж╛ ржжрж┐ржмрж╕рзЗрж░ рж╕рзВржЪржирж╛ ржХрж░рзЗржЫрзЗред
      </p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaGenderless />
      </div>
      <h2 class="card-title">ржмрзНржпрж╛ржХрж░ржгржЧржд рж▓рж┐ржЩрзНржЧрзЗрж░ ржмрж┐ржнрж╛ржЬржи ржирзЗржЗ</h2>
      <p>ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛рзЯ ржмрзНржпрж╛ржХрж░ржгржЧржд рж▓рж┐ржЩрзНржЧрзЗрж░ ржмрж┐ржнрж╛ржЬржи ржирзЗржЗ, ржпрж╛ ржПржЯрж┐ржХрзЗ рж╕рж╣ржЬ ржХрж░рзЗ рждрзЛрж▓рзЗред</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaLanguage />
      </div>
      <h2 class="card-title">ржмрж┐рж╕рзНрждрж░ рж╢ржмрзНржжржнрж╛ржирзНржбрж╛рж░</h2>
      <p>
        ржмрж╛ржВрж▓рж╛ржпрж╝ ржкрзНрж░рж╛ржпрж╝ рзнрзл,рзжрзжрзж ржкрзГржержХ рж╢ржмрзНржж рж░ржпрж╝рзЗржЫрзЗ, ржпрж╛рж░ ржоржзрзНржпрзЗ рзлрзж,рзирзлрзжржЯрж┐ (рзмрзн%) рж╢ржмрзНржж
        "рждрзОрж╕ржо" (рж╕ржВрж╕рзНржХрзГржд ржнрж╛рж╖рж╛ ржерзЗржХрзЗ рж╕рж░рж╛рж╕рж░рж┐ ржЧрзГрж╣рзАржд); рзирзз,рзжрзжрзжржЯрж┐ (рзирзо%) рж╢ржмрзНржж "рждржжрзНржнржм"
        (ржкрж╛рж▓рж┐ ржУ ржПржмржВ ржкрзНрж░рж╛ржХрзГржд ржнрж╛рж╖рж╛ ржерзЗржХрзЗ ржЙржжрзНржнрзВржд рж╣ржпрж╝рзЗржЫрзЗ); ржПржмржВ ржкрзНрж░рж╛ржпрж╝ рзлрзжрзжрзжржЯрж┐ ржмрж┐ржжрзЗрж╢рж┐
      </p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaLanguage />
      </div>
      <h2 class="card-title">ржЗржЙржирж┐ржХрзЛржб ржХрзНржпрж╛рж░рзЗржХрзНржЯрж╛рж░, ISO 639-1 ржУ ISO 639-3 ржХрзЛржб</h2>
      <p>
        ржЗржЙржирж┐ржХрзЛржб ржПрж░ рзирзкрзйрзи ржерзЗржХрзЗ рзирзлрзлрзп ржХрзНржпрж╛рж░рзЗржХрзНржЯрж╛рж░ ржмрж╛ржВрж▓рж╛ ржмрж░рзНржгржорж╛рж▓рж╛рж░ ржЬржирзНржп ржирж┐рж░рзНржзрж╛рж░рж┐рждред ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛рж░ ISO 639-1 code рж╣ржЪрзНржЫрзЗ <code>en</code> ржПржмржВ ISO 639-3 code рж╣ржЪрзНржЫрзЗ <code>ben</code>
      </p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="mb-4 text-4xl">
        <FaLanguage />
      </div>
      <h2 class="card-title">ржорж╛рждрзГржнрж╛рж╖рзА</h2>
      <p>
        ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛рж░ ржкрзНрж░рж╛рзЯ рзйрзжрзж ржорж┐рж▓рж┐рзЯржи ржорж╛рждрзГржнрж╛рж╖рзА рж░рзЯрзЗржЫрзЗржиред ржПржЫрж╛рзЬрж╛ржУ рзкрзж ржорж┐рж▓рж┐рзЯржи ржорж╛ржирзБрж╖ ржПрж░
        ржжрзНржмрж┐рждрзАржпрж╝ ржнрж╛рж╖рж╛ ржмрж╛ржВрж▓рж╛ред ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ ржмржЩрзНржЧржнрзВржорж┐рж░ ржЕржзрж┐ржмрж╛рж╕рзАржжрзЗрж░ ржорж╛рждрзГржнрж╛рж╖рж╛, ржпрж╛
        ржмрж░рзНрждржорж╛ржи рж╕рзНржмрж╛ржзрзАржи ржЬрж╛рждрж┐рж░рж╛рж╖рзНржЯрзНрж░ ржмрж╛ржВрж▓рж╛ржжрзЗрж╢ ржПржмржВ ржнрж╛рж░рждрзЗрж░ ржЕржЩрзНржЧрж░рж╛ржЬрзНржп ржкрж╢рзНржЪрж┐ржоржмржЩрзНржЧ
        ржирж┐ржпрж╝рзЗ ржЧржарж┐рждред рж▓ржирзНржбржирзЗрж░ ржмрзГрж╣рзО ржмрж╛ржЩрж╛рж▓рзА ржЕржнрж┐ржмрж╛рж╕рзАржжрзЗрж░ ржЖржмрж╛рж╕ ржмрзНрж░рж┐ржХрж▓рзЗржирзЗ ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ ржорзВрж▓
        ржЕржЮрзНржЪрж▓рзЗрж░ ржкрж╛рж╢рж╛ржкрж╛рж╢рж┐ рждрзНрж░рж┐ржкрзБрж░рж╛,ржжржХрзНрж╖рж┐ржг ржЖрж╕рж╛ржо ржПржмржВ ржнрж╛рж░рждрзАржпрж╝ рж╕ржВржпрзБржХрзНржд ржЕржЮрзНржЪрж▓ ржЖржирзНржжрж╛ржорж╛ржи
        ржУ ржирж┐ржХрзЛржмрж░ ржжрзНржмрзАржкржкрзБржЮрзНржЬрзЗ ржмрж╕ржмрж╛рж╕рж░ржд ржмрж╛ржЩрж╛рж▓рзАржжрзЗрж░ржУ ржорж╛рждрзГржнрж╛рж╖рж╛ ржмрж╛ржВрж▓рж╛ред ржУржбрж╝рж┐рж╢рж╛, ржмрж┐рж╣рж╛рж░
        ржПржмржВ ржЭрж╛ржбрж╝ржЦржгрзНржбрзЗрж░ ржкрзНрж░рждрж┐ржмрзЗрж╢рзА рж░рж╛ржЬрзНржпрж╕ржорзВрж╣рзЗрж░ ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ржпрж╝ ржХржерж╛ ржмрж▓рж╛ рж╣ржпрж╝ ржПржмржВ
        ржжрж┐рж▓рзНрж▓рж┐, ржорзБржорзНржмрж╛ржЗ, ржмрж╛рж░рж╛ржгрж╕рзА ржПржмржВ ржмрзГржирзНржжрж╛ржмржи рж╕рж╣ ржмржЩрзНржЧрзЗрж░ ржмрж╛ржЗрж░рзЗ ржЙрж▓рзНрж▓рзЗржЦржпрзЛржЧрзНржп
        рж╕ржВржЦрзНржпрж╛ржпрж╝ ржмрж╛ржВрж▓рж╛ ржнрж╛рж╖рж╛ржнрж╛рж╖рзА рж░ржпрж╝рзЗржЫрзЗржиред ржоржзрзНржпржкрзНрж░рж╛ржЪрзНржп, ржпрзБржХрзНрждрж░рж╛рж╖рзНржЯрзНрж░, рж╕рж┐ржЩрзНржЧрж╛ржкрзБрж░,
        ржорж╛рж▓ржпрж╝рзЗрж╢рж┐ржпрж╝рж╛, ржЕрж╕рзНржЯрзНрж░рзЗрж▓рж┐ржпрж╝рж╛, ржХрж╛ржирж╛ржбрж╛, ржпрзБржХрзНрждрж░рж╛ржЬрзНржп ржПржмржВ ржЗрждрж╛рж▓рж┐рждрзЗ ржЙрж▓рзНрж▓рзЗржЦржпрзЛржЧрзНржп
        рж╕ржВржЦрзНржпрж╛ржпрж╝ ржмрж╛ржЩрж╛рж▓рж┐ ржмрж╕ржмрж╛рж╕ ржХрж░рзЗржиред
      </p>
    </div>
  </div>
</div>
