<h2 class="my-6 mb-4 text-center text-3xl font-bold underline">অনান্য</h2>

<ul class="list-disc">
  <li>
    <a
      href="https://bsbk.portal.gov.bd/apps/bangla-converter/index.html"
      target="_blank"
      class="link-primary">Unicode to Bijoy</a>
  </li>
  <li>
    <a
      href="https://www.microsoft.com/en-in/bhashaindia/downloads"
      target="_blank"
      class="link-primary">Bhasaindia</a>
  </li>
  <li>
    <a
      href="https://github.com/banglakit/awesome-bangla"
      target="_blank"
      class="link-primary">awesome-bangla</a>
  </li>
  <li>
    <a
      href="https://omicronlab.com/tools/icomplex-full.html/"
      target="_blank"
      class="link-primary">IComplex</a>
  </li>
</ul>
